@import url(https://fonts.googleapis.com/css?family=Open+Sans&display=swap);

body {
  width: 100%;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  margin-left: 0;
}

.content {
  max-width: 50%;
  display: inline-block;
  text-align: left;
}

/* ----- NAVBAR ----- */

.navbar {
  width: 100%;
  background-color: #100560;
  font-size: 16px;
}

#navlist {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#navlist li {
  display: inline;
}

.nav-item, .nav-item>a:link, .nav-item>a:visited, .nav-item>a:hover, .nav-item>a:active {
  color: white;
  text-decoration: none;
}

/* ----- DROPDOWN ----- */

/* Dropdown Button */
nav button {
 background-color: inherit;
 padding: 16px;
 font-size: 18px;
 border: none;
 font-family: 'Open Sans', sans-serif;
 cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.assignments {
 position: relative;
 display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.assignments-content {
 display: none;
 position: absolute;
 background-color: #f1f1f1;
 min-width: 160px;
 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 z-index: 1;
}

/* Links inside the dropdown */
.assignments-content a {
 color: black;
 padding: 12px 16px;
 text-decoration: none;
 display: block;
}

/* Change color of dropdown links on hover */
.assignments-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.assignments:hover .assignments-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
nav button:hover{
  background-color: #202580;
}
/* ---- DROPDOWN END ---- */
/* ----- NAVBAR END ----- */
