@import url(https://fonts.googleapis.com/css?family=Open+Sans&display=swap);

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #eee;
}

#menu {
  background: #aaa;
  position: relative;
  width: 500px;
  height: 500px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
}

@media (max-width: 600px) {
  .menu {
    max-width: 600px;
  }
}

.container {
  background: #aaa;
  overflow: hidden;
  position: absolute;
  width: 250px;
  height: 250px;
  transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -webkit-transform-origin: 100% 100%;
  transition: background .5s;
  -moz-transition: background .5s;
  -webkit-transition: background .5s;
  -o-transition: background .5s;
  -ms-transition: background .5s;
}

.container:hover {
  background: #eee
}

.container-1 {
  z-index: 1;
  transform: rotate(90deg);
  -moz-transform: rotate(90);
  -webkit-transform: rotate(90);
}

.container-2 {
  z-index: 2;
  transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}

.container-3 {
  z-index: 3;
  transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
}

.container-4 {
  z-index: 4;
  transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
}

#wrapper {
  position: absolute;
  width: 250px;
  height: 250px;
  overflow: hidden;
  transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -webkit-transform-origin: 100% 100%;
}

.container-1 .content {
  left: -10px;
  top: 15px;
  transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}

.container-2 .content {
  left: -11px;
  top: 16px;
  transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
}

.container-3 .content {
  left: -7px;
  top: 12px;
  transform: rotate(-270deg);
  -moz-transform: rotate(-270deg);
  -webkit-transform: rotate(-270deg);
}

.container-4 .content {
  left: -5px;
  top: 18px;
  transform: rotate(-360deg);
  -moz-transform: rotate(-360deg);
  -webkit-transform: rotate(-360deg);
}

.content,
.content a {
  width: 100%;
  height: 100%;
  text-align: center
}

.content {
  position: absolute;
}

.content a {
  line-height: 100px;
  display: block;
  position: absolute;
  text-decoration: none;
  font-size: 20px;
}

a {
  line-height: 200px;
  display: block;
  position: absolute;
  text-decoration: none;
  font-size: 20px;
  color: #101010;
}

a:visited {
  color: #101010;
}

a:hover {

}

a:active {

}
