@import url(https://fonts.googleapis.com/css?family=Open+Sans&display=swap);

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #EEE5E9;
}

#menu {
  background: #92DCE5;
  position: absolute;
  width: 90vh;
  height: 90vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #92DCE5;
  overflow: hidden;
  position: absolute;
  width: 50%;
  height: 50%;
  transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -webkit-transform-origin: 100% 100%;
  transition: background .5s;
  -moz-transition: background .5s;
  -webkit-transition: background .5s;
  -o-transition: background .5s;
  -ms-transition: background .5s;
}

.container:hover {
  background: #EEE5E9;
}

.container-1 {
  z-index: 1;
  transform: rotate(90deg);
  -moz-transform: rotate(90);
  -webkit-transform: rotate(90);
}

.container-2 {
  z-index: 2;
  transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}

.container-3 {
  z-index: 3;
  transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
}

.container-4 {
  z-index: 4;
  transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
}

.container-1 .content {
  transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}

.container-2 .content {
  transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
}

.container-3 .content {
  transform: rotate(-270deg);
  -moz-transform: rotate(-270deg);
  -webkit-transform: rotate(-270deg);
}

.container-4 .content {
  transform: rotate(-360deg);
  -moz-transform: rotate(-360deg);
  -webkit-transform: rotate(-360deg);
}

a {
  display: block;
  position: relative;
  text-decoration: none;
  text-align: center;
  font-size: 3vh;
  color: #101010;
}

a:visited {
  color: #101010;
}